<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>

  <appSettings>
    <add key="CompanyIDs" value="350"/>
  </appSettings>

  <connectionStrings>
    <add name="cadb" connectionString="Server=MKCADB.prod.iressktg.com;Database=cadb;User Id=dfsread;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    <add name="clidata" connectionString="Server=MKCADB.prod.iressktg.com;Database=clidata;User Id=dfsread;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>